
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eecedb;
    color: #7f1e4a;
}

.section-content{
    margin-top: 50px;
    text-align: center;
    color: #7f1e4a;
}

.main-content{
    padding: 10px;
    background-color: #eecedb;
    min-height: 80vh;
    color:  #7f1e4a;


}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eecedb;
    color:  #7f1e4a;
    position: relative;
    bottom: 0;
    height: 90px;
    width: 100%;
}
.carousel-item img {
   width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
}
.carousel-item{
    width: 100%;
    height: 500px; 
}
.carousel{
    margin-bottom: 40px;
    width: 100%;
    height: 500px;
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
  color:  #ecccda!important;
}
.carousel-control-prev,.carousel-control-next {
  display: none !important;
}
.produtos_cards {
    align-items: center;
    max-width: 1400px;
    height: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
}
.produto_imagem{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.produto_card_inner {
    text-align: center;
    gap: 20px;
    border: none;
    border-radius: 10px;
    background-color: #e98ed8;
    height: 420px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}
h3{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
p{
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;


}
.produtos_botao{
    background-color: #961a7f;
    color: #eeb5e4;
    border-radius: 10px;
    border: none;
    width: 55%;
    height: 50px;
    margin-top: auto;
    align-self: center;
    margin-bottom: 20px;
}
.produtos_botao:hover{
     background-color: #691259;
}